<div class="message row" id="message_<%= message.id %>">
  <div class="col-xs-2 nick"><%= message.nick %>:</div>
  <div class="col-xs-10 note">
    <%= message.note %>
    <div class="time pull-right"><%= message.created_at.strftime("at %l:%M  %P on %b %e") %></div>
  </div>
</div>